#parse("layout.vm")
#@mainLayout()
<div class="container">
    <h1>User list</h1>
    <div class="panel panel-default">
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Group</th>
            </tr>
            </thead>
            <tbody>
            #foreach($user in $users)
                <tr>
                    <th scope="row">$velocityCount</th>
                    <td>$user.name</td>
                    <td>$user.group</td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
</div>
#end